/* for desktop size */

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* navbar start */
.nav-logo{
  text-align: left;
}

.nav-title  h1{
  text-align: right;
}

.nav-link{
  flex-direction: row;
  justify-content: flex-end;
}

/* navbar End */

/* profile Start */

.profile .top-weather-icon{
  position: absolute;
  right: 100px;
  
  width: 120px;
  height: 100px;
  transition: width 2s , transform 2s;
 }

 .profile .top-weather-icon:hover{
  transform: rotate(360deg);
  width: 140px;
  
 }

 .profile-dec p{
  color: gray;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10px;
 }

 .profile .bottom-weather-icon{
  position: absolute;
  left: 140px;
  bottom: 20px;
  
  width: 120px;
  height: 100px;
  transition: width 2s , transform 2s;
 }

 .profile .bottom-weather-icon:hover{
  transform: rotate(360deg);
  width: 140px;
  
 }




/* profile End */

/* about me start */

.about-me-img{
  margin-top: 100px;
}

.about-me-img img{
  width: 250px;
  height: 270px;
}

.about-me-dec p{
  text-align: left;
}
/* about me end */